<!DOCTYPE html>
<html lang="en">
<head>
  <title>material-design.css</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, minimal-ui" />

  <link rel="dns-prefetch" href="//fonts.googleapis.com" />

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,400italic,700italic,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" />

  <link rel="stylesheet" href="vendor/bootstrap.min.css" />
  <link rel="stylesheet" href="vendor/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="app/styles/material-colors.min.css" />
  <link rel="stylesheet" href="material-design.min.css" />
  <link rel="stylesheet" href="style.css" />
</head>
<body data-ng-app="materialDesign" data-ng-controller="PageCtrl" data-ng-class="{ 'menu-open': menuOpen||menuOpenRight, 'right': menuOpenRight }">
    <noscript>
        Javascript needs to be active to consult this page.
    </noscript>

    <header class="navbar navbar-fixed-top" data-ng-class="[ 'bg-' + theme, menuOpen||menuOpenRight ? 'darken-2' : '' ]" data-ng-include="'app/partials/header.html'"></header>

    <nav class="menu" data-ng-class="{ 'open': menuOpen }" data-ng-include="'app/partials/menu.html'"></nav>

    <nav class="menu menu-right" data-ng-class="{ 'open': menuOpenRight }" data-ng-include="'app/partials/menu.right.html'"></nav>

    <div id="navbar-back" class="navbar-back" data-ng-class="{ 'menu-open': menuOpen||menuOpenRight }"></div>

    <section class="ng-cloak content">
        <section class="content-heading" data-ng-class="'bg-' + theme">
            <h1>material-design.css <span id="title-color"></span></h1>
        </section>
        <section class="container" role="content">
            <div class="row">
                <div class="col-sm-4 row-shadow-hover" data-ng-repeat="color in colors" data-ng-class=" 'bg-' + color.key ">
                    <a class="color-choice" href="javascript:void(0)" data-ng-click="changeColor(color.key)" tooltip="Click to change header's color" tooltip-placement="bottom" tooltip-popup-delay="1000">
                        <div class="row">
                            <div class="col-sm-6">
                                {{color.key}}
                            </div>
                            <div class="col-sm-6">
                                {{color.code}}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </section>
        
    <div class="fbtn-container">
        <div class="fbtn-inner" data-ng-class="{'open':dropdownFbtnOpen}">
            <a class="fbtn fbtn-indigo fbtn-lg" href="javascript:void(0)" data-ng-click="toggleFbtn()" tooltip="Links" tooltip-placement="left" tooltip-popup-delay="1000">
                <span class="fbtn-text">Links</span>
                <span class="fbtn-ori icon fa fa-external-link"></span>
                <span class="fbtn-sub icon fa fa-close"></span>
            </a>
            <div class="fbtn-dropdown" collapse="!dropdownFbtnOpen">
                <a class="fbtn fbtn-purple" href="https://github.com/YoannB/material-design.css" target="_blank" tooltip="GitHub" tooltip-placement="left" tooltip-popup-delay="1000">
                    <span class="fbtn-text">View on GitHub</span><span class="fa fa-github"></span>
                </a>
                <a class="fbtn fbtn-teal" href="http://gwivv.free.fr/" target="_blank" tooltip="Website" tooltip-placement="left" tooltip-popup-delay="1000">
                    <span class="fbtn-text">Visit my Website</span><span class="fa fa-link"></span>
                </a>
            </div>
        </div>
    </div>

    <footer>
        &copy; Gwivv 2015
    </footer>

    <!-- vendor -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular-touch.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.15/angular-locale_en-us.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>

    <!-- app -->
    <script src="app/application.js"></script>
</body>
</html>
